@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "variable.css";
@import "screens/login.css";
@import "component/screen-header.css";
@import "component/status-bar.css";
@import "component/nav.css";
@import "screens/friends.css";
@import "component/user-component.css";

body {
    color: #2e363e;
    font-family: 'Open Sans', sans-serif;
    height: 1000vh;
}

a {
    color: inherit;
    text-decoration: none;
}
